SECRET_KEY="CHANGE-ME"

# 0 False, 1 True
DEBUG="1"

# Comma Separated values
ALLOWED_HOSTS="127.0.0.1, localhost, djangoapp"

DB_ENGINE="django.db.backends.postgresql"
POSTGRES_DB="CHANGE-ME"
POSTGRES_USER="CHANGE-ME"
POSTGRES_PASSWORD="CHANGE-ME"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"

# Celery Worker
DJANGO_SETTINGS_MODULE="project.settings"
BROKER_URL="amqp://user:pass@celerybroker:5672/vhost"
CELERY_RESULT_BACKEND="redis://redis:6379/0"

# Celery Broker
RABBITMQ_DEFAULT_VHOST="vhost"
RABBITMQ_DEFAULT_USER="user"
RABBITMQ_DEFAULT_PASS="pass"
